<!-- Sidebar Menu -->
<ul class="sidebar-menu">
    <!--<li class="header">HEADER</li>-->
    <!-- Optionally, you can add icons to the links -->
    <li><a href="dashboard-index.php"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
    <li><a href="products-show.php"><i class="fa fa-th-list"></i> <span>Produkty</span></a></li>
    <li><a href="agreements-show.php#"><i class="fa fa-files-o"></i> <span>Umowy</span></a></li>
    <li><a href="sales-show.php#"><i class="fa fa-cart-plus"></i> <span>Sprzedaz</span></a></li>
    <li><a href="customers-show.php#"><i class="fa fa-users"></i> <span>Klienci</span></a></li>
    <li><a href="settings-show.php#"><i class="fa fa-wrench"></i> <span>Ustawienia</span></a></li>
    <!--<li class="treeview">-->
        <!--<a href="#"><i class="fa fa-gears"></i> <span>Zarządzanie</span> <i class="fa fa-angle-left pull-right"></i></a>-->
        <!--<ul class="treeview-menu">-->
            <!--<li><a href="category-show.php">Kategorie</a></li>-->
            <!--<li><a href="shop-show.php">Sklepy</a></li>-->
            <!--<li><a href="user-showProfile.php">Profil</a></li>-->
        <!--</ul>-->
    <!--</li>-->
</ul><!-- /.sidebar-menu -->