<li class="dropdown user user-menu">
    <!-- Menu Toggle Button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <!-- The user image in the navbar-->
        <!--<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image" />-->
        <!-- hidden-xs hides the username on small devices so only the image appears. -->
        <i class="glyphicon glyphicon-user"></i>
        <span class="hidden-xs">${user[imie]} ${user[nazwisko]}</span>
    </a>
    <ul class="dropdown-menu">
        <!-- The user image in the menu -->
        <li class="user-header" >
            <!--<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />-->
            <i class="glyphicon glyphicon-user"></i>
            <p>
                ${user[login]}
                <small>Poziom dostepu: ${user[poziom]}</small>
                Tabele:
                <!-- $BEGIN ACCESS_TABLE_ITEM -->
                <small>${nazwa_tabeli}: ${poziom}</small>
                <!-- $END ACCESS_TABLE_ITEM -->
            </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <!--<div class="pull-left">-->
                <!--<a href="user-showProfile.php" class="btn btn-default btn-flat">Profile</a>-->
            <!--</div>-->
            <div class="pull-right">
                <a href="user-logout.php" class="btn btn-default btn-flat">Wyloguj</a>
            </div>
        </li>
    </ul>
</li>