<!-- $BEGIN AGREEMENTS_CONTENT -->
<div class="box">
    <div class="box-body">
    <table id="agreementsTable" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Numer umowy</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data od</th>
            <th>Data do</th>
            <th>Widoczność</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
        </thead>
    </table>
    </div>
</div>
<!-- $BEGIN AGREEMENTS_EDITAGREEMENT -->
<div class="box edit_agreement">
    <div class="box-header with-border">
        <h3 class="box-title">Edytuj umowę</h3>
    </div>
    <form role="form" action="Agreements-Save.php" method="post">
        <input type="hidden" name="id" value="${id}" />
        <div class="box-body">
            <div class="form-group">
                <label>Numer umowy</label>
                <input type="text" class="form-control" name="numer_umowy" placeholder="numer umowy..." value="${numer_umowy}">
            </div>
            <div class="form-group">
                <label>Termin obowiązywania umowy:</label>
                <input type="text" class="form-control" name="data_od_do" id="dateRangePicker" value="${data_od_do}">
            </div>
            <div class="form-group">
                <label>Klient</label>
                <select name="klient_id" class="form-control">
                    <!-- $BEGIN CUSTOMER_ITEM -->
                    <option value="${id}">
                        ${imie} ${nazwisko} (${nazwa})
                    </option>
                    <!-- $END CUSTOMER_ITEM -->
                </select>
            </div>
            <div class="form-group">
                <label>Produkty</label>
                <div class="agreement_products"></div>
                <button type="button" onclick="add_new_product()" class="btn btn-sm btn-default">Dodaj produkt</button>
            </div>
            <div class="form-group">
                <label>Widoczność</label>
                ${DASHBOARD_FORM_LEVEL_WRITE}
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-success">Zapisz zmiany</button>
        </div>
    </form>
</div>
<!-- $END AGREEMENTS_EDITAGREEMENT -->
<!-- $BEGIN AGREEMENTS_ADDAGREEMENT -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Dodaj umowę</h3>
    </div>
    <form role="form" action="Agreements-Add.php" method="post">
        <div class="box-body">
            <div class="form-group">
                <label>Numer umowy</label>
                <input type="text" class="form-control" name="numer_umowy" placeholder="numer umowy...">
            </div>
            <div class="form-group">
                <label>Termin obowiązywania umowy:</label>
                <input type="text" class="form-control" name="data_od_do" id="dateRangePicker">
            </div>
            <div class="form-group">
                <label>Klient</label>
                <select name="klient_id" class="form-control">
                    <!-- $BEGIN CUSTOMER_ITEM -->
                    <option value="${id}">${imie} ${nazwisko} (${nazwa})</option>
                    <!-- $END CUSTOMER_ITEM -->
                </select>
            </div>
            <div class="form-group">
                <label>Produkty</label>
                <div class="agreement_products"></div>
                <button type="button" onclick="add_new_product()" class="btn btn-sm btn-default">Dodaj produkt</button>
            </div>
            <div class="form-group">
                <label>Widoczność</label>
                ${DASHBOARD_FORM_LEVEL_WRITE}
            </div>
        </div>
        <div class="box-footer">
                <button type="submit" class="btn btn-success">Dodaj</button>
        </div>
    </form>
</div>
<!-- $END AGREEMENTS_ADDAGREEMENT -->
<script type="text/javascript">
    function add_new_product(row) {
        var html =
                '<div class="form-group">' +
                    '<input type="hidden" name="ump_id[]" value="-1">' +
                    '<div class="col-sm-4">'+
                        '<label>Produkt</label>' +
                        '<select name="product[]" class="form-control col-sm-3">' +
                        <!-- $BEGIN AGREEMENTS_PRODUCTS -->
                        '<option value="${id}">${nazwa}</option>' +
                        <!-- $END AGREEMENTS_PRODUCTS -->
                        '</select>' +
                    '</div>'+
                    '<div class="col-sm-1">'+
                        '<label>Ilość</label>' +
                        '<input type="number" min="1" name="product_count[]" class="col-sm-3 form-control" value="1">' +
                    '</div>' +
                    '<div class="col-sm-2">'+
                        '<label>Cena szt.</label>' +
                        '<input type="number" step="0.01" name="product_amount[]" class="col-sm-3 form-control" value="1">' +
                    '</div>' +
                    '<div class="col-sm-2">' +
                        '<label>Widoczność</label>' +
                        '${PRODUCT_LEVEL_WRITE}'+
                    '</div>'+
                    '<div class="col-sm-2">' +
                        '<label>Operacje</label><br/>'+
                        '<button type="button" class="deleteFormGroup btn-sm btn btn-warning">Usuń</button>'+
                    '</div>'+
                    '<div style="clear: both;">&nbsp;</div>'+
                '</div>';
        var item = $(html).hide();

        if(row) {
            if(row.hasOwnProperty('ilosc'))
            item.find("input[name='product_count[]']").val(row.ilosc);
            item.find("input[name='product_amount[]']").val(row.cena);
            item.find("select[name='product_poziom[]']").val(row.poziom);
            item.find("select[name='product[]']").val(row.produkt_id);
            item.find("input[name='ump_id[]']").val(row.id);
        }

        $('.agreement_products').append(item);
        item.show('fast');
    }

    $(document).ready(function(){

        <!-- $BEGIN AGREEMENTS_EDITAGREEMENT -->
        $("div.edit_agreement select[name='klient_id']").val("${klient_id}");
        $.ajax({
            url: 'Agreements-getProductsJson.php',
            data: {
                id: '${id}'
            },
            dataType: 'json',
            success: function (data) {
                for(var i=0; i<data.length ; i++)
                {
                    add_new_product(data[i]);
                    console.log(data[i]);
                }
            }
        })
        <!-- $END AGREEMENTS_EDITAGREEMENT -->

        $("form").on("click", ".deleteFormGroup", function () {
            $(this).closest(".form-group").hide(300,function () {
                $(this).remove();
            })
        });

        $('#dateRangePicker').daterangepicker();

        <!-- $BEGIN AGREEMENTS_EDITAGREEMENT -->
        $('#dateRangePickerEdit').daterangepicker();
        <!-- $END AGREEMENTS_EDITAGREEMENT -->

        $('#agreementsTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "ajax": 'Agreements-GetJson.php',
            "columns": [
                { data: "numer_umowy" },
                { data: "imie" },
                { data: "nazwisko" },
                { data: "data_od" },
                { data: "data_do" },
                { render: function (data, type, row, meta) {
                    var poziomy = {0:'publiczny (0)', 1:'poufne firmy (1)', 2:'tajne firmy (2)', 3:'super tajne (3)', 4:'megaważne (4)'};
                    return poziomy[row.poziom];
                } },
                { render: function (data, type, row, meta) {
                    return '<a href="agreements-edit.php?id='+row.id+'" class="fa fa-edit"></a>'
                } },
                { render: function (data, type, row, meta) {
                    return '<a href="agreements-delete.php?id='+row.id+'" class="fa fa-remove"></a>';
                } }
            ]
        });
    });
</script>
<!-- $END AGREEMENTS_CONTENT -->