<!-- $BEGIN CONTENT_CATEGORY_SHOW -->
<div class="row">
    <section class="col-lg-6 connectedSortable">
        <!-- $BEGIN CATEGORY_SHOW_EDIT -->
        <div class="box">
            <form action="category-edit.php" method="post">
                <div class="box-header">
                    <h3 class="box-title">Edytuj kategorię</h3>
                    <input type="hidden" name="id" value="${id}"/>
                </div>
                <div class="box-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-suitcase"></i></span>
                        <input type="text" class="form-control" placeholder="Nazwa kategorii" name="name" value="${name}">
                    </div><br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-share-square"></i></span>
                        <input type="text" class="form-control" placeholder="alias" name="alias" value="${alias}">
                    </div><br />
                    <div class="input-group my-colorpicker colorpicker-element">
                        <input type="text" class="form-control" placeholder="wybierz kolor" name="color" value="${color}">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn">Zapisz Zmiany</button>
                    <a href="category-show.php" class="btn">Anuluj</a>
                </div>
            </form>
        </div>
        <!-- $END CATEGORY_SHOW_EDIT -->
        <!-- $BEGIN CATEGORY_SHOW_ADD -->
        <div class="box">
            <form action="category-add.php" method="post">
                <div class="box-header">
                    <h3 class="box-title">Dodaj kategorię</h3>
                </div>
                <div class="box-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-suitcase"></i></span>
                        <input type="text" class="form-control" placeholder="Nazwa kategorii" name="name">
                    </div><br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-share-square"></i></span>
                        <input type="text" class="form-control" placeholder="alias" name="alias">
                    </div><br />
                    <div class="input-group my-colorpicker colorpicker-element">
                        <input type="text" class="form-control" placeholder="wybierz kolor" name="color">
                        <div class="input-group-addon">
                            <i></i>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn">Dodaj kategorię</button>
                </div>
            </form>
        </div>
        <!-- $END CATEGORY_SHOW_ADD -->
    </section>
    <section class="col-lg-6 connectedSortable">
        <div class="box" id="category_box">
            <div class="box-header">
                <h3 class="box-title">Lista kategorii</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="refresh" data-toggle="tooltip" title="Odśwież"><i class="fa fa-refresh"></i></button>
                </div><!-- /.box-tools -->
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Alias</th>
                            <th>Edytuj</th>
                            <th>Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- $BEGIN CATEGORY_SHOW_ROW -->
                        <tr>
                            <td>
                                <span class="badge" style="background: ${color};">${name}</span>
                            </td>
                            <td>
                                <span class="badge" style="background: ${color};">${alias}</span>
                            </td>
                            <td>
                                <a href="category-show.php?edit=${id}" class="fa fa-edit"></a>
                            </td>
                            <td>
                                <a href="category-delete.php?id=${id}" class="fa fa-remove"></a>
                            </td>
                        </tr>
                        <!-- $END CATEGORY_SHOW_ROW -->
                    </tbody>
                </table>
            </div><!--
            <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>-->
        </div>
    </section>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $(".my-colorpicker").colorpicker();
    });

</script>
<!-- $END CONTENT_CATEGORY_SHOW -->