<!-- $BEGIN CUSTOMERS_CONTENT -->
<div class="box">
    <div class="box-body">
        <table id="customersTable" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Widoczność</th>
                <th>Edytuj</th>
                <th>Usuń</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<!-- $BEGIN CUSTOMERS_EDITFORM -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Zmień dane klienta</h3>
    </div>
    <form role="form" action="Customers-Save.php" method="post">
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-1 control-label">Imię</label>
                <div class="col-sm-11">
                    <input type="hidden" name="id"value="${id}">
                    <input type="text" class="form-control" name="imie" placeholder="imię..." value="${imie}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" >Nazwisko</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" name="nazwisko" placeholder="nazwisko..." value="${nazwisko}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">email</label>
                <div class="col-sm-11">
                    <input type="email" class="form-control" name="email" placeholder="email..." value="${email}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">nazwa</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" name="nazwa" placeholder="nazwa..." value="${nazwa}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Widoczność</label>
                <div class="col-sm-11">
                    ${DASHBOARD_FORM_LEVEL_WRITE}
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-success">Zapisz zmiany</button>
        </div>
    </form>
</div>
<!-- $END CUSTOMERS_EDITFORM -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Dodaj klienta</h3>
    </div>
    <form role="form" action="Customers-Add.php" method="post">
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-1 control-label">Imię</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" name="imie" placeholder="imię...">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" >Nazwisko</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" name="nazwisko" placeholder="nazwisko...">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">email</label>
                <div class="col-sm-11">
                    <input type="email" class="form-control" name="email" placeholder="email...">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">nazwa</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" name="nazwa" placeholder="nazwa...">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Widoczność</label>
                <div class="col-sm-11">
                    ${DASHBOARD_FORM_LEVEL_WRITE}
                </div>
            </div>
        </div>
        <div class="box-footer">
                <button type="submit" class="btn btn-success">Dodaj</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function(){

        $('#customersTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "ajax": 'Customers-GetCustomers.php',
            "columns": [
                { data: "imie" },
                { data: "nazwisko" },
                { data: "email" },
                { render: function (data, type, row, meta) {
                    var poziomy = {0:'publiczny (0)', 1:'poufne firmy (1)', 2:'tajne firmy (2)', 3:'super tajne (3)', 4:'megaważne (4)'};
                    return poziomy[row.poziom];
                } },
                { render: function (data, type, row, meta) {
                    return ${VAR_ACCESSTABLE_KLIENT} == row.poziom ? '<a href="customers-show.php?edit='+row.id+'" class="fa fa-edit"></a>' : '';
                } },
                { render: function (data, type, row, meta) {
                    return ${VAR_ACCESSTABLE_KLIENT} == row.poziom ? '<a href="customers-delete.php?id='+row.id+'" class="fa fa-remove"></a>' : '';
                } }
            ]
        });
    });

    function onShopEdit(row){
        $("input[name='id']").val(row.id);
        $("input[name='name']").val(row.name);
        $("input[name='alias']").val(row.alias);
        $("input[name='description']").val(row.description);
        $("input[name='www']").val(row.www);
        $("input[name='image_url']").val(row.image_url);
    }
</script>
<!-- $END CUSTOMERS_CONTENT -->