<!-- $BEGIN CONTENT_EXPENSES -->
<div class="row">
    <section class="col-lg-6 connectedSortable">
        <!-- $BEGIN EXPENSES_FORM_ADD_EDIT -->
        <div class="box" id="expensesFormDiv">
            <form id="expensesForm">
                <div class="box-header">
                    <h3 class="box-title">${FORM_NAME}</h3>
                    <input type="hidden" name="id" value="${id}"/>
                </div>
                <div class="box-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-money"></i></span>
                        <input placeholder="Kwota" name="amount" type="number" value="${amount}" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency"/>
                    </div><br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-shopping-cart"></i></span>
                        <input type="text" class="form-control" placeholder="Nazwa produktu" name="product_name" value="${product_name}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-share-square"></i></span>
                        <input id="ExpensesShopName" type="text" class="form-control" placeholder="Nazwa sklepu" name="shop_name" value="${shop_name}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-folder-open"></i></span>
                        <input id="ExpensesCategoryName" type="text" class="form-control" placeholder="Nazwa kategorii" name="category_name" value="${category_name}">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" id="expensesDate" class="form-control" placeholder="Data" name="date" value="${date}" data-date-language="pl">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                        <input type="text" class="form-control" placeholder="opis" name="description" value="${description}">
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn">Dodaj wydatek</button>
                    <a href="expenses-show.php" class="btn">Anuluj</a>
                </div>
            </form>
        </div>
        <!-- $END EXPENSES_FORM_ADD_EDIT -->
    </section>
    <section class="col-lg-6 connectedSortable">
        <div class="box" id="category_box">
            <div class="box-header">
                <h3 class="box-title">Lista ostatnich wydatków</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="refresh" data-toggle="tooltip" title="Odśwież"><i class="fa fa-refresh"></i></button>
                </div><!-- /.box-tools -->
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Produkt</th>
                            <th>Koszt</th>
                            <th>Edytuj</th>
                            <th>Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- $BEGIN EXPENSES_ROW -->
                        <tr>
                            <td>
                                <span class="badge" style="background: ${color};">${name}</span>
                            </td>
                            <td>
                                ${amount}
                            </td>
                            <td>
                                <a href="shop-show.php?edit=${id}" class="fa fa-edit"></a>
                            </td>
                            <td>
                                <a href="shop-delete.php?id=${id}" class="fa fa-remove"></a>
                            </td>
                        </tr>
                        <!-- $END EXPENSES_ROW -->
                    </tbody>
                </table>
            </div><!--
            <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>-->
        </div>
    </section>
</div>
<script type="text/javascript">
    function saveExpense() {
        $("#expensesFormDiv").append('<div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>');
        $.post('Expenses-Save.php', $("#expensesForm").serialize(), function(data, textStatus) {
            alert('ok');
            $("#expensesFormDiv .overlay").remove();
        }, "json");
    }

    $("#expensesForm").submit(function(e){
        e.preventDefault();
    });

    $(document).ready(function(){
        $("#expensesDate").datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true
        });


        $("#ExpensesCategoryName").autocomplete({
            minLength: 1,
            source: function( request, response ) {
                $.ajax({
                    url: "Expenses-CategoryAutoComplete.php",
                    dataType: "json",
                    data: {
                        q: request.term
                    },
                    success: function( data ) {
                        response( data );
                    }
                });
            }
        });

        $("#ExpensesShopName").autocomplete({
            minLength: 1,
            source: function( request, response ) {
                $.ajax({
                    url: "Expenses-ShopAutoComplete.php",
                    dataType: "json",
                    data: {
                        q: request.term
                    },
                    success: function( data ) {
                        response( data );
                    }
                });
            }
        });

    });

</script>
<!-- $END CONTENT_EXPENSES -->