<!-- $BEGIN INFORMATION_EDIT -->
<div class="box">
    <form method="post" action="Information-Save.php">
        <div class="box-header with-border">
            <h3 class="box-title">Edytuj informację</h3>
        </div>
        <div class="box-body">
            <input type="hidden" name="id" value="${id}" />
            <input type="hidden" name="produkt_id" value="${produkt_id}" />
            <div class="form-group">
                <label>Tytuł</label>
                <input type="text" class="form-control" name="tytul" value="${tytul}">
            </div>
            <div class="form-group">
                <label>Opis</label>
                <textarea name="opis" class="form-control">${opis}</textarea>
            </div>
            <div class="form-group">
                <label>Widoczność</label>
                ${DASHBOARD_FORM_LEVEL_WRITE}
            </div>

        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-warning">Zapisz zmiany</button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function(){
        $("select[name='poziom']").val('${poziom}');
    });
</script>
<!-- $END INFORMATION_EDIT -->