<!-- $START MODULE_NOTEPAD -->
<div class="box" id="dgNotepadBox">
    <!--<div class="box-header">-->
        <!--<h3 class="box-title">dgNotatnik <small>mały i podręczny</small></h3>-->
        <!--&lt;!&ndash; tools box &ndash;&gt;-->
        <!---->
    <!--</div>&lt;!&ndash; /.box-header &ndash;&gt;-->
    <div class="box-body pad">
        <div class="pull-right box-tools" id="dgNotepadInfo">
            <p>Wczytywanie...</p>
        </div><!-- /. tools -->
        <form>
            <textarea id="dgNotepad" class="textarea" placeholder="Place some text here" style="width: 100%; height: 330px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
        </form>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary" id="dgNotepadSaveBtn">Zapisz zmiany</button>
    </div>
    <div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>
</div>
<script type="text/javascript">

    var dgNotepadEditor;

    $(function(){
        dgNotepadLoad();
    });

    function dgNotepadSave() {
        $("#dgNotepadBox").append('<div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>');
        var sendData = {content: $("#dgNotepad").val()};
        $.post('Notepad-Save.php', sendData, function(data, textStatus) {
            //data contains the JSON object
            //textStatus contains the status: success, error, etc
            $("#dgNotepadInfo p:first").text("Zapisano: "+data.data);
            $("#dgNotepadBox .overlay").remove();
        }, "json");
    }

    function dgNotepadLoad() {
        var input = $("#dgNotepad");
        $.getJSON('Notepad-GetContent.php', function( data ) {
            input.val(data.content);
            $("#dgNotepadInfo p:first").text('Ostatnia zmiana: '+data.data);
            dgNotepadEditor = input.wysihtml5({
                shortcuts: {
                    '83': '',// S
                    '75': 'createLink'// K
                }
            });

            $(".wysihtml5-editor").bind('keydown', function(event) {
                if (event.ctrlKey || event.metaKey) {
                    switch (String.fromCharCode(event.which).toLowerCase()) {
                        case 's':
                            dgNotepadSave();
                            event.preventDefault();
                            break;
                        case 'f':
                            event.preventDefault();
                            alert('ctrl-f');
                            break;
                        case 'g':
                            event.preventDefault();
                            alert('ctrl-g');
                            break;
                    }
                }
            });

            $("#dgNotepadBox .overlay").remove();
        });
    }

    $("#dgNotepadSaveBtn").click(function(){
        dgNotepadSave();
    });
</script>
<!-- $END MODULE_NOTEPAD -->