<!-- $BEGIN MODULE_PLANNING -->
<div class="box">
    <div class="box-body">
        <table id="planning_table" class="table">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>www</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->
<div class="box ">
    test
</div>
<script type="text/javascript">
    $(function(){
        $('#planning_table').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "ajax": 'Planning-GetPlanningData.php',
            "columns": [
                { "data": "name" },
                { "data": "www" }
            ]
        });
    });
</script>
<!-- $END MODULE_PLANNING -->