<!-- $BEGIN PRODUCTS_CONTENT -->
<!-- $BEGIN PRODUCT_EDIT -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Edytuj produkt</h3>
    </div>
    <form role="form" name="edit" action="Products-Save.php" method="post">
        <input type="hidden" name="id" value="${id}">
        <div class="box-body">
            <div class="form-group">
                <label>Nazwa</label>
                <input type="text" class="form-control" name="nazwa" placeholder="nazwa..." value="${nazwa}">
            </div>
            <div class="form-group">
                <label>Data wydania:</label>
                <input type="text" class="form-control" name="data_wydania" id="datePickerEdit" value="${data_wydania}">
            </div>
            <div class="form-group">
                <label>Autor</label>
                <input type="text" class="form-control" name="autor" placeholder="autor..." value="${autor}">
            </div>
            <div class="form-group">
                <label>Widoczność</label>
                ${DASHBOARD_FORM_LEVEL_WRITE}
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-success">Zapisz zmiany</button>
        </div>
    </form>
</div>
<!-- $END PRODUCT_EDIT -->
<div class="box">
    <div class="box-body">
    <table id="agreementsTable" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Data wydania</th>
            <th>Autor</th>
            <th>Widoczność</th>
            <th>Informacje</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
        </thead>
    </table>
    </div>
</div>
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Dodaj produkt</h3>
    </div>
    <form role="form" action="Products-Add.php" method="post">
        <div class="box-body">
            <div class="form-group">
                <label>Nazwa</label>
                <input type="text" class="form-control" name="nazwa" placeholder="nazwa...">
            </div>
            <div class="form-group">
                <label>Data wydania:</label>
                <input type="text" class="form-control" name="data_wydania" id="datePicker">
            </div>
            <div class="form-group">
                <label>Autor</label>
                <input type="text" class="form-control" name="autor" placeholder="autor...">
            </div>
            <div class="form-group">
                <label>Widoczność</label>
                ${DASHBOARD_FORM_LEVEL_WRITE}
            </div>
        </div>
        <div class="box-footer">
                <button type="submit" class="btn btn-success">Dodaj</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var dp = $('#datePicker').datepicker({
            format: 'yyyy-mm-dd'
        });

        <!-- $BEGIN PRODUCT_EDIT -->
        $("form[name='edit'] select").val('${poziom}');
        var dpedit = $('#datePickerEdit').datepicker({
            format: 'yyyy-mm-dd'
        });
        <!-- $END PRODUCT_EDIT -->

        $('#agreementsTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "ajax": 'Products-GetJson.php',
            "columns": [
                { data: "nazwa" },
                { data: "data_wydania" },
                { data: "autor" },
                { render: function (data, type, row, meta) {
                    var poziomy = {0:'publiczny (0)', 1:'poufne firmy (1)', 2:'tajne firmy (2)', 3:'super tajne (3)', 4:'megaważne (4)'};
                    return poziomy[row.poziom];
                } },
                { render: function (data, type, row, meta) {
                    return '<a href="Products-showProduct.php?id='+row.id+'" class="fa fa-edit">Informacje</a>';
                } },
                { render: function (data, type, row, meta) {
                    return row.poziom == ${VAR_ACCESSTABLE_PRODUKT} ? '<a href="Products-Edit.php?id='+row.id+'" class="fa fa-edit"></a>' : '';
                } },
                { render: function (data, type, row, meta) {
                    return row.poziom == ${VAR_ACCESSTABLE_PRODUKT} ? '<a href="Products-delete.php?id='+row.id+'" class="fa fa-remove"></a>' : '';
                } }

            ]
        });
    });
</script>
<!-- $END PRODUCTS_CONTENT -->
<!-- $BEGIN PRODUCTS_SHOW -->
<div class="box">
    <form method="post" action="Information-Add.php">
        <div class="box-header with-border">
            <h3 class="box-title">Dodaj informację</h3>
        </div>
        <div class="box-body">
            <input type="hidden" name="produkt_id" value="${id}" />
            <div class="form-group">
                <label>Tytuł</label>
                <input type="text" class="form-control" name="tytul">
            </div>
            <div class="form-group">
                <label>Opis</label>
                <textarea name="opis" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Widoczność</label>
                ${DASHBOARD_FORM_LEVEL_WRITE}
            </div>

        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-success">Dodaj</button>
        </div>
    </form>
</div>
<h3>Informacje</h3>
<!-- $BEGIN PRODUCTS_SHOW_ITEM -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">${tytul}</h3>
        <div class="box-tools pull-right">
            <span>Data: ${data_powstania}</span>
        </div>
    </div>
    <div class="box-body">
        ${opis}
    </div>
    <div class="box-footer">
        <!-- $BEGIN IOP_SAVE_BUTTON -->
        <a href="Information-Edit.php?id=${id}" class="btn btn-warning">Edytuj</a>
        <div class="pull-right">
            <a href="Information-Delete.php?id=${id}" class="btn btn-danger">Usuń</a>
        </div>
        <!-- $END IOP_SAVE_BUTTON -->
    </div>
</div>
<!-- $END PRODUCTS_SHOW_ITEM -->
<!-- $END PRODUCTS_SHOW -->