<!-- $BEGIN SETTINGS_EDITUSER -->
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Edytuj użytkownika</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <form name="saveUser" role="form" action="Settings-SaveUser.php" method="post">
        <input type="hidden" name="id" value="${id}">
        <div class="box-body">
            <div class="form-group">
                <label>Nazwa użytkownika (login)</label>
                <input type="text" class="form-control" name="login" placeholder="login..." value="${login}">
            </div>
            <div class="form-group">
                <label>Hasło: (wpisz aby zmienic)</label>
                <input type="text" class="form-control" name="haslo" placeholder="haslo...">
            </div>
            <div class="form-group">
                <label>Imię</label>
                <input type="text" class="form-control" name="imie" placeholder="imie..." value="${imie}">
            </div>
            <div class="form-group">
                <label>Nazwisko</label>
                <input type="text" class="form-control" name="nazwisko" placeholder="nazwisko..." value="${nazwisko}">
            </div>
            <div class="form-group">
                <label>Widoczność</label>
                ${DASHBOARD_FORM_LEVEL_ALL}
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-warning">Zapisz zmiany</button>
        </div>
    </form>
</div>
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Zarządzaj użytkownikiem</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="accessTable" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Nazwa tabeli</th>
                <th>poziom dostępu</th>
                <th>Usuń</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Dodaj uprawnienie</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <form role="form" action="Settings-AddUserAccessTable.php" method="post">
        <div class="box-body">
            <div class="form-group">
                <label>Nazwa użytkownika (login)</label>
                <input type="text" class="form-control" name="login" placeholder="login..." value="${login}">
            </div>
            <div class="form-group">
                <label>Nazwa tabeli</label>
                <input type="text" class="form-control" name="nazwa_tabeli" placeholder="nazwa tabeli...">
            </div>
            <div class="form-group">
                <label>Widoczność</label>
                ${DASHBOARD_FORM_LEVEL_ALL}
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-success">Dodaj</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function(){

        $("form[name='saveUser'] select[name='poziom']").val(${poziom});

        $('#accessTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "ajax": 'Settings-GetUserAccessTableJson.php?id=${args[id]}',
            "columns": [
                { data: "nazwa_tabeli" },
                { render: function (data, type, row, meta) {
                    var poziomy = {0:'publiczny (0)', 1:'poufne firmy (1)', 2:'tajne firmy (2)', 3:'super tajne (3)', 4:'megaważne (4)'};
                    return poziomy[row.poziom];
                } },
                { render: function (data, type, row, meta) {
                    return '<a href="settings-deleteUserAccessTable.php?access_id='+row.id+'" class="fa fa-remove"></a>';
                } }
            ]
        });
    });
</script>
<!-- $END SETTINGS_EDITUSER -->