<!-- $BEGIN SALES_SHOW -->

<!-- $BEGIN ADD_SALE -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Dodaj sprzedaż</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <form role="form" action="Sales-Add.php" method="post">
        <div class="box-body">
            <div class="form-group">
                <label>Klient</label>
                <select name="klient_id" class="form-control">
                    <option value="0">-- brak --</option>
                    <!-- $BEGIN CUSTOMER_ITEM -->
                    <option value="${id}">${imie} ${nazwisko} (${nazwa})</option>
                    <!-- $END CUSTOMER_ITEM -->
                </select>
            </div>
            <div class="form-group">
                <label>Umowa</label>
                <select name="umowa_id" class="form-control">
                    <option value="0">-- brak --</option>
                    <!-- $BEGIN AGREEMENT_ITEM -->
                    <option value="${id}">${numer_umowy}</option>
                    <!-- $END AGREEMENT_ITEM -->
                </select>
            </div>
            <div class="form-group">
                <label>Produkty</label>
                <div class="agreement_products"></div>
                <button type="button" onclick="add_new_product()" class="btn btn-sm btn-default">Dodaj produkt</button>
            </div>
            <div class="form-group">
                <label>Widoczność</label>
                ${DASHBOARD_FORM_LEVEL_WRITE}
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-success">Dodaj</button>
        </div>
    </form>
</div>
<!-- $END ADD_SALE -->

<div class="box collapsed-box">
    <div class="box-header">
        <h3 class="box-title">Podsumowanie transakcji na dzień</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="summaryDayTable" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Data</th>
                <th>Liczba sprzedanych produktów</th>
                <th>Suma</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div class="box collapsed-box">
    <div class="box-header">
        <h3 class="box-title">Wykonane transakcje</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="salesTable" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Data</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Numer umowy</th>
                <th>Suma</th>
                <th>Usuń</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    function add_new_product(row) {
        var html =
                '<div class="form-group">' +
                '<input type="hidden" name="ump_id[]" value="-1">' +
                '<div class="col-sm-4">'+
                '<label>Produkt</label>' +
                '<select name="product[]" class="form-control col-sm-3">' +
                <!-- $BEGIN AGREEMENTS_PRODUCTS -->
                '<option value="${id}">${nazwa}</option>' +
                <!-- $END AGREEMENTS_PRODUCTS -->
                '</select>' +
                '</div>'+
                '<div class="col-sm-1">'+
                '<label>Ilość</label>' +
                '<input type="number" min="1" name="product_count[]" class="col-sm-3 form-control" value="1">' +
                '</div>' +
                '<div class="col-sm-2">'+
                '<label>Cena szt.</label>' +
                '<input type="number" step="0.01" name="product_amount[]" class="col-sm-3 form-control" value="1">' +
                '</div>' +
                '<div class="col-sm-2">' +
                '<label>Widoczność</label>' +
                '${PRODUCT_LEVEL_WRITE}'+
                '</div>'+
                '<div class="col-sm-2">' +
                '<label>Operacje</label><br/>'+
                '<button type="button" class="deleteFormGroup btn-sm btn btn-warning">Usuń</button>'+
                '</div>'+
                '<div style="clear: both;">&nbsp;</div>'+
                '</div>';
        var item = $(html).hide();

        if(row) {
            if(row.hasOwnProperty('ilosc'))
                item.find("input[name='product_count[]']").val(row.ilosc);
            item.find("input[name='product_amount[]']").val(row.cena);
            item.find("select[name='product_poziom[]']").val(row.poziom);
            item.find("select[name='product[]']").val(row.produkt_id);
            item.find("input[name='ump_id[]']").val(row.id);
        }

        $('.agreement_products').append(item);
        item.show('fast');
    }
    
    $(document).ready(function () {
        $('#salesTable').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "ajax": 'Sales-GetJson.php',
            "columns": [
                { data: "data" },
                { data: "imie" },
                { data: "nazwisko" },
                { data: "numer_umowy" },
                { data: "suma" },
                { render: function (data, type, row, meta) {
                    return ${VAR_ACCESSTABLE_SPRZEDAZ} == row.poziom ? '<a href="sales-delete.php?id='+row.id+'" class="fa fa-remove"></a>' : '';
                } }
            ]
        });

        $('#summaryDayTable').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "ajax": 'Sales-GetSummaryDayTableJson.php',
            "columns": [
                { data: "data" },
                { data: "ilosc" },
                { render: function (data, type, row, meta) {
                    return row.suma+' zł';
                } }
            ]
        });
    })
</script>
<!-- $END SALES_SHOW -->