<!-- $BEGIN SETTINGS_CONTENT -->
<div class="box">
    <div class="box-body">
        <table id="usersTable" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Widoczność</th>
                <th>Edytuj</th>
                <th>Usuń</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div class="box box-default collapsed-box">
    <div class="box-header with-border">
        <h3 class="box-title">Dodaj użytkownika</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <form role="form" action="Settings-AddUser.php" method="post">
        <div class="box-body">
            <div class="form-group">
                <label>Nazwa użytkownika (login)</label>
                <input type="text" class="form-control" name="login" placeholder="login...">
            </div>
            <div class="form-group">
                <label>Hasło:</label>
                <input type="text" class="form-control" name="haslo" placeholder="haslo...">
            </div>
            <div class="form-group">
                <label>Imię</label>
                <input type="text" class="form-control" name="imie" placeholder="imie...">
            </div>
            <div class="form-group">
                <label>Nazwisko</label>
                <input type="text" class="form-control" name="nazwisko" placeholder="nazwisko...">
            </div>
            <div class="form-group">
                <label>Widoczność</label>
                ${DASHBOARD_FORM_LEVEL_WRITE}
            </div>
        </div>
        <div class="box-footer">
                <button type="submit" class="btn btn-success">Dodaj</button>
        </div>
    </form>
</div>
<div class="box box-default collapsed-box">
    <div class="box-header with-border">
        <h3 class="box-title">Dodaj uprawnienie</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <form role="form" action="Settings-AddUserAccessTable.php" method="post">
        <div class="box-body">
            <div class="form-group">
                <label>Nazwa użytkownika (login)</label>
                <input type="text" class="form-control" name="login" placeholder="login...">
            </div>
            <div class="form-group">
                <label>Nazwa tabeli</label>
                <input type="text" class="form-control" name="nazwa_tabeli" placeholder="nazwa tabeli...">
            </div>
            <div class="form-group">
                <label>Widoczność</label>
                ${DASHBOARD_FORM_LEVEL_ALL}
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-success">Dodaj</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function(){

        $('#usersTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "ajax": 'Settings-GetUsersJson.php',
            "columns": [
                { data: "id" },
                { data: "login" },
                { data: "imie" },
                { data: "nazwisko" },
                { render: function (data, type, row, meta) {
                    var poziomy = {0:'publiczny (0)', 1:'poufne firmy (1)', 2:'tajne firmy (2)', 3:'super tajne (3)', 4:'megaważne (4)'};
                    return poziomy[row.poziom];
                } },
                { render: function (data, type, row, meta) {
                    return ${VAR_ACCESSTABLE_UZYTKOWNIK} == row.poziom ? '<a href="settings-editUser.php?id='+row.id+'" class="fa fa-edit"></a>' : '';
                } },
                { render: function (data, type, row, meta) {
                    return ${VAR_ACCESSTABLE_UZYTKOWNIK} == row.poziom ? '<a href="settings-deleteUser.php?id='+row.id+'" class="fa fa-remove"></a>' : '';
                } }
            ]
        });
    });
</script>
<!-- $END SETTINGS_CONTENT -->