<!-- $BEGIN CONTENT_SHOP -->
<div class="row">
    <section class="col-lg-6 connectedSortable">
        <!-- $BEGIN SHOP_FORM_ADD_EDIT -->
        <div class="box">
            <form action="shop-save.php" method="post" id="shopFormEdit">
                <div class="box-header">
                    <h3 class="box-title">${FORM_NAME}</h3>
                    <input type="hidden" name="id" value="${id}"/>
                </div>
                <div class="box-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-shopping-cart"></i></span>
                        <input type="text" class="form-control" placeholder="Nazwa sklepu" name="name" value="${name}">
                    </div><br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-share-square"></i></span>
                        <input type="text" class="form-control" placeholder="alias" name="alias" value="${alias}">
                    </div><br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-file-text-o"></i></span>
                        <input type="text" class="form-control" placeholder="opis" name="description" value="${description}">
                    </div><br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-at"></i></span>
                        <input type="text" class="form-control" placeholder="www" name="www" value="${www}">
                    </div><br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-image"></i></span>
                        <input type="text" class="form-control" placeholder="link do loga sklepu" name="image_url" value="${image_url}">
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn">Zapisz Zmiany</button>
                    <a href="shop-show.php" class="btn">Anuluj</a>
                </div>
            </form>
        </div>
        <!-- $END SHOP_FORM_ADD_EDIT -->
    </section>
    <section class="col-lg-6 connectedSortable">
        <div class="box" id="category_box">
            <div class="box-header">
                <h3 class="box-title">Lista sklepów</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="refresh" data-toggle="tooltip" title="Odśwież"><i class="fa fa-refresh"></i></button>
                </div><!-- /.box-tools -->
            </div>
            <div class="box-body">
                <table id="shopTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Alias</th>
                            <th>Edytuj</th>
                            <th>Usuń</th>
                        </tr>
                    </thead>
                </table>
            </div><!--
            <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>-->
        </div>
    </section>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#shopTable').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "ajax": 'Shop-GetShops.php',
            "columns": [
                { data: "name" },
                { data: "alias" },
                { render: function (data, type, row, meta) {
                    return '<a href="shop-show.php?edit='+row.id+'" class="fa fa-edit"></a>'
                } },
                { render: function (data, type, row, meta) {
                    return '<a href="shop-delete.php?id='+row.id+'" class="fa fa-remove"></a>';
                } }
            ]
        });
    });

    function onShopEdit(row){
        $("input[name='id']").val(row.id);
        $("input[name='name']").val(row.name);
        $("input[name='alias']").val(row.alias);
        $("input[name='description']").val(row.description);
        $("input[name='www']").val(row.www);
        $("input[name='image_url']").val(row.image_url);
    }
</script>
<!-- $END CONTENT_SHOP -->