<!-- $BEGIN CONTENT_USER_PROFILE -->
<div class="row">
    <section class="col-lg-7 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
                <li class="active"><a href="#user-profile-form" data-toggle="tab">Dane osobowe</a></li>
                <li><a href="#user-profile-changepassword" data-toggle="tab">Zmiana Hasła</a></li>
                <li class="pull-left header"><i class="glyphicon glyphicon-user"></i> Profil</li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="user-profile-form" style="position: relative;">
                    <form action="user-changeProfile.php" role="form" method="post">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Dane osobowe</h3>
                            </div>
                            <div class="box-body">
                                <label>Imię nazwisko:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input type="text" class="form-control" placeholder="imię nazwisko" name="full_name" value="${full_name}">
                                </div>
                                <br />
                                <label>Email:</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input type="email" class="form-control" placeholder="email" name="email" value="${email}">
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="user-profile-changepassword" style="position: relative;">
                    <form action="user-changePassword.php" role="form" method="post">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Zmiana hasła</h3>
                            </div>
                            <div class="box-body">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="Obecne hasło"
                                           name="old_password">
                                </div>
                                <br/>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="Nowe hasło"
                                           name="new_password">
                                </div>
                                <br/>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="Powtórz nowe hasło"
                                           name="new_password2">
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Zmień hasło</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.nav-tabs-custom -->
    </section>
</div>
<!-- $END CONTENT_USER_PROFILE -->